.u-margin-y-big{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.u-margin-x-small{
    margin-left: 1rem;
    margin-right: 1rem;
}

.u-width-95{
    width: 95%;
}

.u-center-x{
    margin-left: auto;
    margin-right: auto;
}